// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #ffffff;
$secondary: #c9c9c9;
$accent: #3e7bff;

$dark: #000000;
$dark-page: #121212;

$positive: #006818;
$negative: #aa0000;
$info: #060707;
$warning: #704d00;
