<template>
  <q-item clickable v-close-popup @click="logout">
    <q-item-section side>
      <q-icon name="logout" />
    </q-item-section>
    <q-item-section>
      <q-item-label>Log out</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router';
import useCredsStore from 'src/stores/userCreds';

const router = useRouter();
const credStore = useCredsStore();
async function logout() {
  credStore.erase();
  router.push({ path: '/login' });
}
</script>
