<template>
  <q-item clickable @click="triggerRefresh">
    <q-item-section side>
      <q-icon name="refresh" />
    </q-item-section>
    <q-item-section>
      <q-item-label>Trigger server ARL refresh</q-item-label>
      <q-item-label caption
        >Forces the server to update its cached ARL</q-item-label
      >
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { useRefreshService } from 'src/core/refreshToken';
import { AxiosError } from 'axios';
import QNotification from 'src/core/notifications';
import { axiosErrorPrettyMessage } from 'src/core/util';
const { triggerArlRefresh } = useRefreshService();

async function triggerRefresh() {
  const notif = new QNotification(
    'Triggering primary ARL refresh',
    "This shouldn't take long..."
  );
  notif.enableSpinner();
  try {
    await triggerArlRefresh();
    notif.updateMessage('Success', 'Primary ARL has been refreshed');
    notif.finishPositive();
  } catch (e) {
    console.error(e);
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't update primary ARL", msg);
    notif.finishNegative();
  }
}
</script>
