<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <q-table
          flat
          bordered
          dense
          ref="tableRef"
          class="my-sticky-header-table"
          title="Download history"
          :rows="refData"
          :columns="columns"
          :visible-columns="optionsStore.downloadHistoryCols"
          row-key="id"
          v-model:pagination="pagination"
          :loading="loading"
          :rows-per-page-options="TABLE_ROWS_PER_PAGE_ARRAY"
          :filter="filter"
          binary-state-sort
          @request="onRequest"
        >
          <template v-slot:top-right>
            <div class="row no-wrap q-gutter-x-sm">
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </template>
          <!-- Details override -->
          <template v-slot:body-cell-details="props">
            <q-td :props="props" class="q-gutter-x-xs">
              <DownloadSessionTooltip :it="props.row" />
            </q-td>
          </template>
          <!-- Outcome override -->
          <template v-slot:body-cell-outcome="props">
            <q-td :props="props">
              <q-badge
                outline
                :color="outcomeColorMapper(props.value)"
                :label="props.value"
              />
            </q-td>
          </template>
          <!-- Download kind override -->
          <template v-slot:body-cell-title="props">
            <UpstreamLinkItem
              :download-kind="props.row.downloadKind"
              :title="props.row.title"
              :id="props.row.downloadId"
            />
          </template>
          <!-- Download kind override -->
          <template v-slot:body-cell-actions="prop">
            <q-td class="q-gutter-x-sm">
              <q-btn-group outline sep>
                <!-- download button -->
                <q-btn
                  v-if="
                    !prop.row.isPruned &&
                    !prop.row.isStream &&
                    prop.row.outcome != 'InProgress'
                  "
                  icon="download"
                  no-wrap
                  outline
                  dense
                  @click="onStartLocalDownload(prop.row)"
                  label="Download"
                  split
                />
                <ShowFilesBtn :session-id="prop.row.id"></ShowFilesBtn>
                <!-- delete files btn -->
                <ConfirmBtn
                  @on-confirm="onDelete(prop.row)"
                  v-if="
                    isSuperuser() &&
                    !prop.row.isStream &&
                    prop.row.outcome != 'InProgress'
                  "
                  color="white"
                  :label="prop.row.isPruned ? 'Retry delete' : 'Delete files'"
                  :icon="prop.row.isPruned ? 'delete_forever' : 'delete'"
                />
              </q-btn-group>
            </q-td>
          </template>
        </q-table>
      </q-card>
    </div>
  </q-page>

  <div class="q-pa-md"></div>
</template>

<script setup lang="ts">
import {
  DownloadHistoryEntry,
  LocalDownloader,
  fetchDownloadHistory,
} from 'src/core/history';
import { Pagination } from 'src/core/pagination';
import {
  DownloadQueue,
  axiosErrorPrettyMessage,
  calculateProgressFormatted,
  formatByteCount,
  formatRelativeDate,
  shortenLongString,
  sortObjectsByKey,
} from 'src/core/util';
import { Ref, onMounted, ref } from 'vue';
import useCredsStore from 'src/stores/userCreds';
import ShowFilesBtn from 'src/components/ShowFilesBtn.vue';
import { pruneUserDownloadSession } from 'src/core/user';
import ConfirmBtn from 'src/components/ConfirmBtn.vue';
import UpstreamLinkItem from 'src/components/UpstreamLinkItem.vue';
import { TABLE_DEFAULT_ROWS, TABLE_ROWS_PER_PAGE_ARRAY } from 'src/core/consts';
import useOptionsStore from 'src/stores/optionsStore';
import { AxiosError } from 'axios';
import QNotification from 'src/core/notifications';
import DownloadSessionTooltip from 'src/components/DownloadSessionTooltip.vue';

const filter = ref('');
const optionsStore = useOptionsStore();
const options = optionsStore.getOrSetDefault();
const loading = ref(true);
const credStore = useCredsStore();
const isSuperuser = () => credStore.getUser?.superuser ?? false;
const downloadQueue = new DownloadQueue();

// eslint-disable-next-line @typescript-eslint/no-explicit-any
let columns: Array<any> = [
  {
    name: 'title',
    label: 'Kind/Title',
    align: 'left',
    sortable: true,
  },
  {
    name: 'downloadQuality',
    label: 'Quality',
    align: 'left',
    field: (row: DownloadHistoryEntry) => row.downloadQuality,
    sortable: true,
  },
  {
    name: 'outcome',
    label: 'Outcome',
    align: 'left',
    field: (row: DownloadHistoryEntry) => row.outcome,
    sortable: true,
  },
  {
    name: 'details',
    label: 'Details',
    align: 'left',
    field: (row: DownloadHistoryEntry) => row,
    sortable: false,
  },
  {
    name: 'downloadStats',
    label: 'Stats',
    align: 'left',
    field: (row: DownloadHistoryEntry) =>
      `Downloaded ${formatByteCount(row.downloadedBytesSum)}/${formatByteCount(
        row.totalBytesSum
      )}, ${row.songCount} songs, ${row.errorCount} failed songs`,
    sortable: false,
  },
  {
    name: 'createdAt',
    label: 'Created',
    align: 'left',
    field: (row: DownloadHistoryEntry) =>
      options.useIsoDates
        ? row.createdAt
        : `${formatRelativeDate(row.createdAt)} ago`,
    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    sort: (a: string, b: string, _rowA: string, _rowB: string) =>
      a.localeCompare(b),
    sortable: true,
  },
  {
    name: 'downloadedBy',
    label: 'Downloaded by',
    align: 'left',
    sortable: true,
    style: 'font-family: monospace; white-space: pre',
    field: (row: DownloadHistoryEntry) => {
      const username = shortenLongString(row.username);
      return options.showVerboseIds
        ? `${username} (${row.downloadedBy})`
        : username;
    },
  },
  {
    name: 'id',
    label: 'Download ID',
    align: 'left',
    field: (row: DownloadHistoryEntry) => row.id,
    sortable: true,
    style: 'font-family: monospace',
  },
  {
    name: 'actions',
    label: 'Actions',
    align: 'left',
    sortable: false,
  },
];
sortObjectsByKey(columns, 'name', optionsStore.downloadHistoryCols);

function outcomeColorMapper(outcome: string): string {
  if (outcome == 'Success') {
    return 'white';
  } else if (outcome == 'PartiallyDownloaded') {
    return 'orange-2';
  } else if (outcome == 'Error') {
    return 'red';
  }
  return 'white';
}

async function onDelete(row: DownloadHistoryEntry) {
  const notif = new QNotification(
    'Changing ARL priorities...',
    "This shouldn't take long"
  );
  notif.enableSpinner();
  try {
    const pruneResponse = await pruneUserDownloadSession(
      row.downloadedBy,
      row.id,
      true
    );
    const msg = `${pruneResponse.success} songs deleted, ${pruneResponse.error} were already deleted or failed to delete.`;
    notif.updateMessage('Success', msg);
    notif.finishPositive();
    tableRef.value.requestServerInteraction();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't prune user files", msg);
    notif.finishNegative();
  }
}
const refData: Ref<DownloadHistoryEntry[]> = ref([]);
const tableRef = ref();

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const pagination = ref({
  sortBy: 'createdAt',
  descending: true,
  page: 0,
  rowsPerPage: TABLE_DEFAULT_ROWS,
  rowsNumber: TABLE_DEFAULT_ROWS,
});

async function onStartLocalDownload(entry: DownloadHistoryEntry) {
  if (!downloadQueue.add(entry.id)) {
    const notif = new QNotification(
      'Already in progress',
      `Download ${entry.id} is already in progress.`,
      'warning',
      'warning',
      true,
      7000
    );
    notif.finishWarning();
    return;
  }

  const notif = new QNotification(
    'Starting download',
    "This shouldn't take long...",
    'download'
  );
  notif.enableSpinner();

  try {
    const downloader = new LocalDownloader(
      entry,
      options.ignoreErrors,
      (bytes) => {
        const prettyBytes = formatByteCount(bytes);
        let progress = calculateProgressFormatted(bytes, entry.totalBytesSum);
        const msg = `Downloaded ${prettyBytes} so far`;
        notif.updateMessage(
          `About ${progress}% completed (${entry.downloadKind}/${entry.downloadId})`,
          msg
        );
      }
    );
    notif.addAction('cancel', 'white', () => {
      downloader.cancelDownload();
    });
    await downloader.start();
    notif.updateMessage(
      'Download completed',
      'Your download should start in a few moments...'
    );
    notif.finishPositive();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage('Failed to download', msg);
    notif.finishNegative();
  }
  downloadQueue.remove(entry.id);
}

// eslint-disable-next-line @typescript-eslint/no-explicit-any
async function onRequest(props: any) {
  const { page, rowsPerPage, sortBy, descending } = props.pagination;
  let filter: string = props.filter;
  if (options.enableWildcardSearch && filter && filter.length) {
    filter = `%25${filter}%25`;
  }

  loading.value = true;
  const serverPaginationParams = new Pagination(
    // Server-side pagination starts from 0
    page - 1,
    rowsPerPage,
    filter,
    sortBy,
    descending
  );
  try {
    const response = await fetchDownloadHistory(serverPaginationParams);
    refData.value = response.data;

    pagination.value.page = page;
    pagination.value.rowsPerPage = rowsPerPage;
    pagination.value.sortBy = sortBy;
    pagination.value.descending = descending;
    pagination.value.rowsNumber = response.totalItems;

    loading.value = false;
  } catch (e) {
    const errMsg = await axiosErrorPrettyMessage(e as AxiosError);
    const notif = new QNotification("Couldn't read previous downloads", errMsg);
    notif.finishNegative();
    loading.value = false;
    return;
  }
}

onMounted(() => {
  tableRef.value.requestServerInteraction();
});
</script>
