<template>
  <MainUncapableView v-if="!credsStore.canDownload" />
  <MainDownloadView v-else></MainDownloadView>
</template>

<script setup lang="ts">
import MainDownloadView from 'src/components/MainDownloadView.vue';
import MainUncapableView from 'src/components/MainUncapableView.vue';
import useCredsStore from 'src/stores/userCreds';

const credsStore = useCredsStore();
</script>
