<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <q-table
          class="my-sticky-header-table"
          flat
          dense
          bordered
          title="Ongoing Downloads"
          virtual-scroll
          :rows="ongoingDownloads"
          :columns="columns"
          :filter="filter"
          :loading="loading"
          row-key="name"
        >
          <template v-slot:top-right>
            <div class="row q-gutter-x-sm">
              <q-btn-dropdown
                outline
                no-caps
                :content-class="optionsStore.defaultBg"
                style="max-width: 500px"
                :icon="isSseCheckHealthy ? 'published_with_changes' : 'warning'"
                :color="isSseCheckHealthy ? 'white' : WARNING_COLOR"
              >
                <div class="row no-wrap q-pa-xs">
                  <div class="col" style="max-width: 240px">
                    <q-item>
                      <q-item-section side aria-disabled="true">
                        <q-icon
                          :color="isSseCheckHealthy ? 'white' : WARNING_COLOR"
                          :name="isSseCheckHealthy ? 'check' : 'warning'"
                        />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>
                          <b>
                            {{
                              isSseCheckHealthy
                                ? 'Listening for new events'
                                : 'Unable to fetch new events'
                            }}
                          </b>
                        </q-item-label>
                        <q-item-label caption>
                          <div v-if="isSseCheckHealthy">
                            New downloads will appear immediately.
                            <br />
                            Last check: {{ lastChecked }}s ago
                          </div>
                          <div v-else>
                            New ongoing downloads won't appear due to a
                            connection issue.
                          </div>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </div>
                </div>
              </q-btn-dropdown>

              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </template>
          <!-- <template v-slot:body-cell-downloadKind="props">
            <UpstreamLinkItem
              :download-kind="props.row.downloadSession.downloadKind"
              :title="props.row.downloadSession.downloadId"
            />
          </template> -->
          <template v-slot:body-cell-title="props">
            <UpstreamLinkItem
              :download-kind="props.row.downloadSession.downloadKind"
              :title="props.row.downloadSession.title"
              :id="props.row.downloadSession.downloadId"
            />
          </template>
          <template v-slot:body-cell-progress="props">
            <q-td :props="props">
              <q-linear-progress
                :value="props.value"
                stripe
                color="grey-10"
                track-color="white"
                size="22px"
                rounded
                class="q-mt-sm"
                style="margin-top: 0px"
              >
                <div class="absolute-full flex flex-center">
                  <q-badge
                    transparent
                    text-color="black"
                    color="white"
                    :label="parseFloat((props.value * 100).toFixed(2)) + '%'"
                  />
                </div>
              </q-linear-progress>
            </q-td>
          </template>
          <template v-slot:body-cell-irrecoverableErrors="props">
            <q-td :props="props">
              <q-chip
                v-if="props.row.irrecoverableErrors > 0"
                outline
                square
                color="red"
                text-color="white"
                icon="error"
              >
                {{ props.row.irrecoverableErrors }} error(s)
              </q-chip>
              <p v-else>-</p>
            </q-td>
          </template>
          <template v-slot:body-cell-isStopped="props">
            <q-td :props="props">
              <q-btn
                v-if="canStopDownload"
                outline
                dense
                color="red"
                icon="stop"
                @click="
                  onCancel(props.row.userId, props.row.downloadSession.id)
                "
              >
                Stop &nbsp;
              </q-btn>
            </q-td>
          </template>
        </q-table>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref, onMounted, onUnmounted, computed } from 'vue';
import { AxiosError } from 'axios';
import { OngoingDownload, cancelDownload } from 'src/core/download';
import {
  axiosErrorPrettyMessage,
  formatByteCount,
  shortenLongString,
} from 'src/core/util';
import UpstreamLinkItem from 'src/components/UpstreamLinkItem.vue';
import useOptionsStore from 'src/stores/optionsStore';
import OngoingDownloadEventReader from 'src/core/ongoing-sse';
import QNotification from 'src/core/notifications';
import { WARNING_COLOR } from 'src/core/consts';
import useCredsStore from 'src/stores/userCreds';
import { Permission } from 'src/core/user';

const filter = ref('');
const loading = ref(true);
const optionsStore = useOptionsStore();
const options = optionsStore.getOrSetDefault();
const selfUser = useCredsStore().getUser;

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const columns: Array<any> = [
  {
    name: 'title',
    required: true,
    label: 'Kind/Title',
    align: 'left',
    sortable: true,
  },
  {
    name: 'downloadedBy',
    required: true,
    label: 'Downloaded by',
    align: 'left',
    style: 'font-family: monospace; white-space: pre',
    field: (row: OngoingDownload) => {
      const username = shortenLongString(row.username);
      return options.showVerboseIds ? `${username} (${row.userId})` : username;
    },
  },
  {
    name: 'downloadQuality',
    required: true,
    label: 'Download Quality',
    align: 'left',
    field: (row: OngoingDownload) => row.downloadSession.downloadQuality,
    sortable: true,
  },
  {
    name: 'progress',
    required: true,
    label: 'Progress',
    align: 'left',
    field: (row: OngoingDownload) =>
      parseFloat((row.dlBytesSoFar / (row.totalBytes || 1)).toFixed(2)),
    style: 'min-width: 100px',
    sortable: true,
  },
  {
    name: 'dlBytesSoFar',
    required: true,
    label: 'Downloaded',
    align: 'left',
    field: (row: OngoingDownload) => formatByteCount(row.dlBytesSoFar),
    sortable: true,
  },
  {
    name: 'totalBytes',
    required: true,
    label: 'Discovered',
    align: 'left',
    field: (row: OngoingDownload) => formatByteCount(row.totalBytes),
    sortable: true,
  },
  {
    name: 'irrecoverableErrors',
    required: true,
    label: 'Errors',
    align: 'left',
    field: (row: OngoingDownload) => row.irrecoverableErrors,
    sortable: true,
  },
  {
    name: 'isStream',
    required: true,
    label: 'Download Type',
    align: 'left',
    field: (row: OngoingDownload) =>
      row.downloadSession.isStream ? 'Streaming' : 'Server-side',
    sortable: true,
  },
  {
    name: 'downloadId',
    required: true,
    label: 'Download ID',
    align: 'left',
    style: 'font-family: monospace; white-space: pre',
    field: (row: OngoingDownload) => row.downloadSession.id,
    sortable: true,
  },
  {
    name: 'isStopped',
    required: true,
    label: 'Actions',
    align: 'left',
    style: 'min-width: 100px',
    sortable: true,
  },
];

const ongoingDownloads = ref<OngoingDownload[]>([]);
const lastChecked = ref<number | null>(null);
const isSseCheckHealthy = ref(false);

const canStopDownload = computed(() =>
  selfUser?.hasPermission(Permission.StopOngoingDownload)
);

const ongoingSseEventReader = new OngoingDownloadEventReader(
  (data: OngoingDownload[]) => {
    loading.value = false;
    ongoingDownloads.value = data;
  }
);

async function onCancel(userId: string, downloadId: string) {
  const notif = new QNotification(
    'Cancelling download',
    'Please wait while the download is being cancelled.'
  );
  notif.enableSpinner();
  try {
    await cancelDownload(userId, downloadId);
    notif.updateMessage(
      'Success',
      'The ongoing download will be stopped and cleaned up shortly.'
    );
    notif.finishPositive();
  } catch (e) {
    const err = e as AxiosError;
    const msg = await axiosErrorPrettyMessage(err);
    notif.updateMessage('Failed to stop ongoing download', msg);
    notif.finishNegative();
  }
}

let isSseRunning = false;

onMounted(() => {
  const updateLastChecked = () => {
    const timeSinceLastPing = ongoingSseEventReader.timeSinceLastPing();
    lastChecked.value = timeSinceLastPing
      ? Number((timeSinceLastPing / 1000).toFixed(2))
      : null;
    isSseCheckHealthy.value = !!lastChecked.value;
  };

  const startSseConsumer = async () => {
    if (!isSseRunning) {
      isSseRunning = true;
      console.info('Started SSE consumer.');
      await ongoingSseEventReader.getOngoing();
      updateLastChecked();
    } else if (intervalId) {
      clearInterval(intervalId);
    }
  };

  const intervalId = setInterval(startSseConsumer, 1);

  const lastCheckedIntervalId = setInterval(updateLastChecked, 1000);

  onUnmounted(() => {
    ongoingSseEventReader.stop();
    clearInterval(intervalId);
    clearInterval(lastCheckedIntervalId);
  });
});
</script>

<style>
.q-badge--transparent {
  opacity: 0.55;
}
</style>
