<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <q-table
          flat
          bordered
          dense
          ref="tableRef"
          class="my-sticky-header-table"
          title="User management"
          :rows="refData"
          :columns="columns"
          :visible-columns="optionsStore.userManageCols"
          row-key="id"
          v-model:pagination="pagination"
          :loading="loading"
          :rows-per-page-options="TABLE_ROWS_PER_PAGE_ARRAY"
          :filter="filter"
          @request="onRequest"
        >
          <!-- Update username -->
          <template v-slot:body-cell-username="props">
            <q-td :props="props">
              {{ props.value }}
              <q-popup-edit
                v-model="props.row.username"
                :class="optionsStore.defaultBg"
                title="Update username"
                v-if="
                  selfUser?.hasPermissionOverUser(
                    Permission.UpdateUserBasicInfo,
                    props.row
                  )
                "
                :validate="(v: string) => !!v.length"
                @hide="() => {}"
                label-set="Update"
                buttons
                v-slot="scope"
                @save="
                  (value, _initialValue) =>
                    onUpdate(props.row.id, 'username', value)
                "
              >
                <q-input
                  v-model="scope.value"
                  dense
                  :rules="[
                    (v: string) =>
                      !!v.length ||
                      `Must not be an empty string`,
                  ]"
                  :error="!scope.value.length"
                  input-style="font-family: monospace"
                  outlined
                  autofocus
                  hint="Use buttons to close"
                />
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Change active status -->
          <template v-slot:body-cell-enabled="props">
            <q-td :props="props">
              <q-icon :name="props.value ? 'check' : 'close'"></q-icon>
              <q-popup-edit
                :disable="
                  !selfUser?.hasPermissionOverUser(
                    Permission.UpdateUserExtendedInfo,
                    props.row
                  )
                "
                v-model="props.row.enabled"
                :class="optionsStore.defaultBg"
                title="Toggle active status"
                label-set="Update"
                buttons
                v-slot="scope"
                class="q-gutter-y-sm"
                @save="
                  (value, _initialValue) =>
                    onUpdate(props.row.id, 'enabled', value)
                "
              >
                Prevent this user from using Niceerr without deleting it and
                their download history.

                <q-checkbox v-model="scope.value" :color="CHECKBOX_COLOR">
                  Enable this user
                </q-checkbox>
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Update permissions -->
          <template v-slot:body-cell-permissions="props">
            <q-td :props="props">
              <q-chip
                icon="group"
                label="Superuser"
                size="12px"
                :color="MUTED_CHIP_COLOR"
                outline
                square
                v-if="props.row.superuser"
              />
              <q-chip
                icon="warning"
                label="No permissions"
                size="12px"
                :color="WARNING_COLOR"
                outline
                square
                v-else-if="!props.row.superuser && !props.value.length"
              />
              <template v-else>
                {{ props.value.length }} permission(s)</template
              >

              <SingleUserPermissionEditor
                :permissions="props.row.permissions"
                :superuser="props.row.superuser"
                @update="(perms) => onUpdate(props.row.id, '', perms)"
              />
            </q-td>
          </template>
          <!-- Update user level status -->
          <template v-slot:body-cell-level="props">
            <q-td :props="props">
              {{ props.value }}
              <q-popup-edit
                :class="optionsStore.defaultBg"
                v-model.number="props.row.level"
                buttons
                :disable="!selfUser?.superuser"
                label-set="Update"
                title="Set user level"
                :validate="(v) => v > (selfUser?.level ?? 0)"
                v-slot="scope"
                @hide="() => {}"
                @save="
                  (value, _initialValue) =>
                    onUpdate(props.row.id, 'level', parseInt(value))
                "
              >
                Users with higher levels can't manage users or resources with
                lower levels.
                <q-input
                  v-model.number="scope.value"
                  outlined
                  type="number"
                  @keyup.enter="scope.set"
                  :rules="[
                    (v) =>
                      v > (selfUser?.level ?? 0) ||
                      `Must be greater than your own level (${selfUser?.level}).`,
                  ]"
                  :error="scope.value <= (selfUser?.level ?? 0)"
                  dense
                  autofocus
                  hint="Use buttons to close"
                />
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Update download session persistence -->
          <template v-slot:body-cell-downloadSessionPersistMinutes="props">
            <q-td :props="props">
              {{ props.value }}
              <q-popup-edit
                v-model="props.row.downloadSessionPersistMinutes"
                :class="optionsStore.defaultBg"
                title="Keep downloads for X minutes"
                label-set="Update"
                :disable="
                  !selfUser?.hasPermissionOverUser(
                    Permission.UpdateUserExtendedInfo,
                    props.row
                  )
                "
                buttons
                class="q-gutter-y-sm"
                :validate="(v: number) => v >= 0"
                @hide="() => {}"
                v-slot="scope"
                @save="
                  (value, _initialValue) =>
                    onUpdate(
                      props.row.id,
                      'downloadSessionPersistMinutes',
                      parseInt(value)
                    )
                "
              >
                Set to 0 to disable server-side downloads pruning, otherwise
                specify the duration as minutes. You can use the following
                presets:
                <q-btn-group spread>
                  <q-btn
                    dense
                    outline
                    label="1 hour"
                    no-caps
                    size="12px"
                    @click="scope.value = 60"
                  />
                  <q-btn
                    dense
                    outline
                    label="3 hours"
                    no-caps
                    size="12px"
                    @click="scope.value = 60 * 3"
                  />
                  <q-btn
                    dense
                    outline
                    label="1 day"
                    no-caps
                    size="12px"
                    @click="scope.value = 24 * 60"
                  />
                  <q-btn
                    dense
                    outline
                    label="1 week"
                    no-caps
                    size="12px"
                    @click="scope.value = 24 * 7 * 60"
                  />
                </q-btn-group>
                <q-input
                  v-model="scope.value"
                  type="number"
                  outlined
                  :rules="[(val) => val >= 0 || 'Must be a positive number']"
                  :error="scope.value < 0"
                  input-style="font-family: monospace"
                  dense
                  autofocus
                  hint="Use buttons to close"
                />
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Update daily user quota -->
          <template v-slot:body-cell-maxBandwidthBytesPerDay="props">
            <q-td :props="props">
              {{ props.value }}
              <q-popup-edit
                v-model="props.row.maxBandwidthBytesPerDay"
                title="Set daily bandwidth quota"
                :class="optionsStore.defaultBg"
                :validate="(v: number) => v >= 0"
                @hide="() => {}"
                label-set="Update"
                :disable="
                  !selfUser?.hasPermissionOverUser(
                    Permission.UpdateUserExtendedInfo,
                    props.row
                  )
                "
                class="q-gutter-y-sm"
                outlined
                buttons
                v-slot="scope"
                @save="
                  (value, _initialValue) =>
                    onUpdate(
                      props.row.id,
                      'maxBandwidthBytesPerDay',
                      parseInt(value)
                    )
                "
              >
                <p>
                  Set to 0 for unlimited quota, otherwise specify the quota as
                  bytes. You can use the following presets:
                </p>
                <q-btn-group spread>
                  <q-btn
                    dense
                    outline
                    label="100 MiB"
                    no-caps
                    size="12px"
                    @click="scope.value = 100 * 1024 * 1024"
                  />
                  <q-btn
                    dense
                    outline
                    label="500 MiB"
                    no-caps
                    size="12px"
                    @click="scope.value = 500 * 1024 * 1024"
                  />
                  <q-btn
                    dense
                    outline
                    label="2 GiB"
                    no-caps
                    size="12px"
                    @click="scope.value = 1024 * 2 * 1024 * 1024"
                  />
                  <q-btn
                    dense
                    outline
                    label="10 GiB"
                    no-caps
                    size="12px"
                    @click="scope.value = 1024 * 10 * 1024 * 1024"
                  />
                </q-btn-group>
                <q-input
                  outlined
                  v-model.number="scope.value"
                  type="number"
                  :rules="[(val) => val >= 0 || 'Must be a positive number']"
                  :error="scope.value < 0"
                  input-style="font-family: monospace"
                  dense
                  autofocus
                  hint="Use buttons to close"
                />
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Update user download path -->
          <template v-slot:body-cell-downloadPath="props">
            <q-td :props="props">
              <q-chip
                icon="hide_source"
                label="Not set"
                size="12px"
                :color="MUTED_CHIP_COLOR"
                outline
                square
                v-if="!props.value"
              />
              <div class="q-pl-xs" style="font-family: monospace">
                {{ props.value }}
              </div>

              <q-popup-edit
                v-model="props.row.downloadPath"
                :class="optionsStore.defaultBg"
                title="Update download path"
                label-set="Update"
                :validate="(v: string) => v.length <= 255"
                @hide="() => {}"
                outlined
                :disable="
                  !selfUser?.hasPermissionOverUser(
                    Permission.UpdateUserExtendedInfo,
                    props.row
                  )
                "
                class="q-gutter-y-sm"
                buttons
                v-slot="scope"
                @save="
                  (value, _initialValue) =>
                    onUpdate(props.row.id, 'downloadPath', value)
                "
              >
                <div v-if="scope.initialValue">
                  Set to empty to
                  <q-chip
                    icon="hide_source"
                    label="Unset"
                    size="12px"
                    :color="MUTED_CHIP_COLOR"
                    outline
                    square
                  />
                  and use the default/root download folder.
                </div>
                <div v-else>
                  Server-side downloads will use the default/root folder.
                </div>
                <q-input
                  outlined
                  v-model="scope.value"
                  input-style="font-family: monospace"
                  :rules="[
                    (v: string | undefined) =>
                      (v?.length ?? 0) <= 255 ||
                      `Length must be equal to or less than 255 characters`,
                  ]"
                  :error="(scope.value?.length ?? 0) > 255"
                  dense
                  autofocus
                  hint="Use buttons to close"
                />
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Update user's password -->
          <template v-slot:body-cell-id="props">
            <q-td :props="props">
              {{ props.value }}
              <q-popup-edit
                v-model="props.row.password"
                :class="optionsStore.defaultBg"
                title="Update password"
                :disable="
                  !selfUser?.hasPermissionOverUser(
                    Permission.UpdateUserBasicInfo,
                    props.row
                  )
                "
                label-set="Update"
                buttons
                v-slot="scope"
                @save="
                  (value, _initialValue) =>
                    onUpdate(props.row.id, 'password', value)
                "
              >
                <q-form>
                  <q-input
                    v-model="scope.value"
                    outlined
                    type="password"
                    :rules="[
                      (val) =>
                        (val && val.trim().length > 0) ||
                        `Password shouldn't be empty`,
                    ]"
                    dense
                    autocomplete="new-password"
                    autofocus
                    hint="Use buttons to close"
                  />
                </q-form>
              </q-popup-edit>
            </q-td>
          </template>
          <!-- Action buttons -->
          <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <div class="q-gutter-x-sm">
                <q-btn-group outline>
                  <q-btn-dropdown
                    dense
                    v-if="
                      selfUser?.hasPermissionOverUser(
                        Permission.PruneDownloadSession,
                        props.row
                      )
                    "
                    :content-class="optionsStore.defaultBg"
                    outline
                    color="white"
                    label="&nbsp; Prune downloads"
                  >
                    <div class="row no-wrap q-pa-xs">
                      <div class="col" style="max-width: 240px">
                        <!-- Force prune for this user -->
                        <q-item clickable @click="forcePrune = !forcePrune">
                          <q-item-section side>
                            <q-checkbox
                              :color="CHECKBOX_COLOR"
                              dense
                              class="row"
                              v-model="forcePrune"
                            />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label>Force prune </q-item-label>
                            <q-item-label caption
                              >Try to prune already-pruned downloads again
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <!-- Prune all checkbox -->
                        <q-item
                          clickable
                          @click="pruneAll = !pruneAll"
                          :disable="
                            props.row.downloadSessionPersistMinutes == 0
                          "
                        >
                          <q-item-section side>
                            <q-checkbox
                              :color="CHECKBOX_COLOR"
                              :disable="
                                props.row.downloadSessionPersistMinutes == 0
                              "
                              dense
                              class="row"
                              v-model="pruneAll"
                            />
                          </q-item-section>
                          <q-item-section>
                            <q-item-label><b>Prune all</b></q-item-label>
                            <q-item-label caption>
                              {{
                                props.row.downloadSessionPersistMinutes == 0
                                  ? `Pruning isn't set for this user.`
                                  : 'Prune all downloads made by this user.'
                              }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <!-- Prune button -->
                        <ConfirmBtn
                          class="full-width"
                          confirm-label="Click again to confirm"
                          :label="
                            isDangerousPrune(props.row)
                              ? `PRUNE ALL DOWNLOADS &nbsp;`
                              : `Prune downloads &nbsp;`
                          "
                          :icon="
                            isDangerousPrune(props.row) ? 'warning' : undefined
                          "
                          @on-confirm="onPrune(props.row)"
                        />
                      </div>
                    </div>
                  </q-btn-dropdown>
                  <!-- Delete user -->
                  <ConfirmBtn
                    v-if="
                      selfUser?.hasPermissionOverUser(
                        Permission.DeleteUser,
                        props.row
                      )
                    "
                    icon="remove"
                    label="Delete"
                    @on-confirm="onDeleteUser(props.row.id)"
                  ></ConfirmBtn>
                </q-btn-group>
              </div>
            </q-td>
          </template>
          <!-- Settings menu and buttons -->
          <template v-slot:top-right>
            <div class="row no-wrap q-gutter-x-sm">
              <CreateUserBtn
                v-if="selfUser?.isSuperuser()"
                @user-created="requestServerInteraction"
              />
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </template>
        </q-table>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { Pagination } from 'src/core/pagination';
import {
  Permission,
  User,
  UserUpdate,
  deleteUser,
  fetchUsers,
  pruneUserDownloads,
  rawUserUpdate,
  updateUser,
} from 'src/core/user';

import {
  axiosErrorPrettyMessage,
  formatByteCount,
  formatMinuteCount,
  formatRelativeDate,
  shortenLongString,
  sortObjectsByKey,
} from 'src/core/util';
import useCredsStore from 'src/stores/userCreds';
import { Ref, onMounted, ref } from 'vue';
import CreateUserBtn from 'src/components/CreateUserBtn.vue';
import ConfirmBtn from 'src/components/ConfirmBtn.vue';
import { useRefreshService } from 'src/core/refreshToken';
import {
  CHECKBOX_COLOR,
  WARNING_COLOR,
  MUTED_CHIP_COLOR,
  TABLE_DEFAULT_ROWS,
  TABLE_ROWS_PER_PAGE_ARRAY,
} from 'src/core/consts';
import useOptionsStore from 'src/stores/optionsStore';
import { AxiosError } from 'axios';
import QNotification from 'src/core/notifications';
import SingleUserPermissionEditor from 'src/components/SingleUserPermissionEditor.vue';

const loading = ref(true);
const optionsStore = useOptionsStore();
const options = optionsStore.getOrSetDefault();
const filter = ref('');
const credStore = useCredsStore();
const selfUser = credStore.getUser;
const selfId = credStore.getUser?.id;
// Prune options
const pruneAll = ref(false);
const isDangerousPrune = (user: User) => {
  return pruneAll.value || user.downloadSessionPersistMinutes == 0;
};
const forcePrune = ref(false);
// eslint-disable-next-line @typescript-eslint/no-explicit-any
let columns: Array<any> = [
  {
    name: 'username',
    label: 'Username',
    align: 'left',
    field: (row: User) => shortenLongString(row.username),
    sortable: true,
    style: 'font-family: monospace; white-space: pre',
  },
  {
    name: 'createdAt',
    label: 'Created',
    align: 'left',
    field: (row: User) =>
      options.useIsoDates
        ? row.createdAt
        : `${formatRelativeDate(row.createdAt)} ago`,
    sortable: true,
  },
  {
    name: 'level',
    label: 'User level',
    align: 'left',
    field: (row: User) => row.level,
    sortable: true,
  },
  {
    name: 'enabled',
    label: 'Enabled',
    align: 'left',
    field: (row: User) => row.enabled,
    sortable: true,
  },
  {
    name: 'permissions',
    label: 'Permissions',
    align: 'left',
    field: (row: User) => row.permissions,
    sortable: false,
  },
  {
    name: 'downloadPath',
    label: 'Server-side download path',
    field: (row: User) => shortenLongString(row.downloadPath ?? ''),
    align: 'left',
    style: 'white-space: pre',
    sortable: true,
  },
  {
    name: 'downloadSessionPersistMinutes',
    label: 'Keep downloads for...',
    field: (row: User) =>
      row.downloadSessionPersistMinutes == 0
        ? 'Forever'
        : formatMinuteCount(row.downloadSessionPersistMinutes),
    align: 'left',
    sortable: true,
  },
  {
    name: 'maxBandwidthBytesPerDay',
    label: 'Daily bandwidth quota',
    field: (row: User) =>
      row.maxBandwidthBytesPerDay == 0
        ? 'Unlimited'
        : formatByteCount(row.maxBandwidthBytesPerDay),
    align: 'left',
    sortable: true,
  },
  {
    name: 'downloadedBytes',
    label: 'Bytes downloaded',
    field: (row: User) => formatByteCount(row.downloadedBytes ?? 0),
    align: 'left',
    sortable: false,
  },
  {
    name: 'id',
    label: 'User ID (click to change password)',
    align: 'left',
    style: 'font-family: monospace; white-space: pre',
    field: (row: User) => row.id,
    sortable: true,
  },
  {
    name: 'actions',
    label: 'Actions',
    align: 'left',
    sortable: false,
  },
];
sortObjectsByKey(columns, 'name', optionsStore.userManageCols);

const refData: Ref<User[]> = ref([]);
const tableRef = ref();

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const pagination = ref({
  sortBy: 'createdAt',
  descending: true,
  page: 0,
  rowsPerPage: TABLE_DEFAULT_ROWS,
  rowsNumber: TABLE_DEFAULT_ROWS,
});

// eslint-disable-next-line @typescript-eslint/no-explicit-any
async function onRequest(props: any) {
  const { page, rowsPerPage, sortBy, descending } = props.pagination;
  let filter: string = props.filter;
  if (options.enableWildcardSearch && filter && filter.length) {
    filter = `%25${filter}%25`;
  }

  loading.value = true;
  const serverPaginationParams = new Pagination(
    // Server-side pagination starts from 0
    page - 1,
    rowsPerPage,
    filter,
    sortBy,
    descending
  );
  try {
    const response = await fetchUsers(serverPaginationParams);
    refData.value = response.data;

    pagination.value.page = page;
    pagination.value.rowsPerPage = rowsPerPage;
    pagination.value.sortBy = sortBy;
    pagination.value.descending = descending;
    pagination.value.rowsNumber = response.totalItems;

    loading.value = false;
  } catch (e) {
    const errMsg = await axiosErrorPrettyMessage(e as AxiosError);
    const notif = new QNotification("Couldn't read user data", errMsg);
    notif.finishNegative();
    loading.value = false;
    return;
  }
}

async function onDeleteUser(id: string) {
  const notif = new QNotification('Deleting user', "This shouldn't take long");
  notif.enableSpinner();
  try {
    await deleteUser(id);
    notif.updateMessage(
      "Successfully sayonara'd this user",
      "It's sad to let go of this user, but it's gone now."
    );
    notif.finishPositive();
    tableRef.value.requestServerInteraction();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't delete user", msg);
    notif.finishNegative();
  }
}

async function onUpdate(
  userId: string,
  key: string,
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  value: string | number | boolean | Record<string, any>[]
) {
  const notif = new QNotification(
    'Updating user...',
    "This shouldn't take too long"
  );
  try {
    notif.enableSpinner();
    if (
      typeof value === 'string' ||
      typeof value === 'number' ||
      typeof value === 'boolean'
    ) {
      let updatePayload: Record<string, string | number | boolean> = {};
      updatePayload[key] = value;
      await updateUser(userId, updatePayload as UserUpdate);
    } else {
      await rawUserUpdate(userId, value);
    }
    if (userId == selfId) {
      await useRefreshService().refreshToken();
    }
    notif.updateMessage('Success', 'User attributes have been updated.');
    notif.finishPositive();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage("Couldn't update user", msg);
    notif.finishNegative();
  }
  tableRef.value.requestServerInteraction();
}

// eslint-disable-next-line @typescript-eslint/no-explicit-any
async function onPrune(row: any) {
  const user = row as User;
  const notif = new QNotification(
    'Pruning downloads...',
    "This shouldn't take long"
  );
  notif.enableSpinner();
  try {
    const allSessions =
      user.downloadSessionPersistMinutes == 0 ? true : pruneAll.value;
    const response = await pruneUserDownloads(
      user.id,
      allSessions,
      forcePrune.value
    );
    notif.updateMessage(
      'Prune complete',
      `${response.success} songs deleted, ${response.error} failed/already deleted, processed ${response.sessionsPruned} sessions`
    );
    notif.finishPositive();
    tableRef.value.requestServerInteraction();
  } catch (e) {
    const err = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage('Prune failed', err);
    notif.finishNegative();
  }
}

function requestServerInteraction() {
  tableRef.value.requestServerInteraction();
}

onMounted(() => {
  tableRef.value.requestServerInteraction();
});
</script>
