<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <q-card-section>
          <div class="text-h6">User settings</div>
        </q-card-section>

        <q-separator dark inset />

        <q-card-section>
          Note: the following settings will be reset if you delete your
          browser's data or cookies.
        </q-card-section>
        <q-card-section v-if="credStore.canDownload">
          <div class="text-h6">Download options</div>
          <br />
          <div style="max-width: 600px">
            <q-list style="min-width: 200px">
              <!-- skip live -->
              <q-item>
                <q-item-section side>
                  <q-icon class="padleft" name="filter_alt"></q-icon>
                </q-item-section>

                <q-item-section>
                  <q-item-label>Skip/filter out album categories</q-item-label>
                  <q-item-label caption
                    >This may cause entire albums to not be downloaded at all.
                    Singles, EPs and live albums are sometimes redundant and
                    safe to skip.</q-item-label
                  >
                  <div class="q-gutter-xs" style="margin-left: -1.1em">
                    <q-checkbox
                      v-for="option in OPTIONS_DESC"
                      :key="option.key"
                      v-model="options.skippedContent"
                      :color="CHECKBOX_COLOR"
                      :val="option.key"
                      :label="option.title"
                    />
                  </div>
                </q-item-section>
              </q-item>
              <!-- Include credited -->
              <q-item
                clickable
                @click="options.includeCredited = !options.includeCredited"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="WARNING_COLOR"
                    class="row"
                    v-model="options.includeCredited"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    >(Artist downloads only) Include credited albums
                  </q-item-label>
                  <q-item-label caption>
                    When downloading entire discographies, include albums the
                    artist is credited with.
                    <q-chip
                      square
                      dense
                      outline
                      :color="
                        options.includeCredited
                          ? WARNING_COLOR
                          : MUTED_CHIP_COLOR
                      "
                      icon="warning"
                      style="padding-bottom: -10px"
                      >May consume a lot of space
                    </q-chip>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <!-- allow fallback -->
              <q-item
                clickable
                @click="options.allowFallback = !options.allowFallback"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.allowFallback"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label> Allow quality fallback</q-item-label>
                  <q-item-label caption
                    >Allow niceerr to download songs in crappier quality formats
                    if the selected quality is unavailable.</q-item-label
                  >
                </q-item-section>
              </q-item>
              <!-- stream by default -->
              <q-item
                clickable
                @click="options.streamDefault = !options.streamDefault"
                v-if="credStore.canChangeStreamSettings"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.streamDefault"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Local downloads by default</q-item-label>
                  <q-item-label caption
                    >Clicking the main download button will
                    {{
                      options.streamDefault
                        ? 'download content directly to your browser'
                        : 'start a server-side download'
                    }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <!-- Download format -->
              <q-item>
                <q-item-section side>
                  <q-icon class="padleft" name="assignment_returned"></q-icon>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Quality</q-item-label>
                  <q-item-label caption
                    >Songs will be downloaded in this format. FLAC is the
                    default and has the highest quality, but also uses more
                    storage.
                  </q-item-label>
                  <div class="q-gutter-sm" style="margin-left: -1.3em">
                    <q-radio
                      v-model="options.streamFormat"
                      :color="RADIO_COLOR"
                      val="Flac"
                      label="FLAC"
                    />
                    <q-radio
                      v-model="options.streamFormat"
                      :color="RADIO_COLOR"
                      val="Mp3_320"
                      label="MP3 320"
                    />
                    <q-radio
                      v-model="options.streamFormat"
                      :color="RADIO_COLOR"
                      val="Mp3_128"
                      label="MP3 128"
                    />
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>

        <q-card-section>
          <div class="text-h6">User interface</div>
          <br />
          <div style="max-width: 600px">
            <q-list style="min-width: 200px">
              <q-item
                clickable
                @click="
                  options.hideUnsupportedPlatformWarnings =
                    !options.hideUnsupportedPlatformWarnings
                "
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.hideUnsupportedPlatformWarnings"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    >Hide unsupported platform warnings</q-item-label
                  >
                  <q-item-label caption>
                    Disable warnings when you use a feature on a potentially
                    unsupported platform.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="options.interfaceBlur = !options.interfaceBlur"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.interfaceBlur"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Enable translucent blur</q-item-label>
                  <q-item-label caption>
                    Frosted glass background effect for tooltips, dialogs,
                    notifications and pop-ups.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="
                  options.interfaceFullBlack = !options.interfaceFullBlack
                "
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.interfaceFullBlack"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Pure black theme</q-item-label>
                  <q-item-label caption
                    >Turn page backgrounds and notifications fully black.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section side>
                  <q-icon :name="preferredInterfaceIcon()"></q-icon>
                </q-item-section>
                <q-item-section>
                  <q-item-label>UI Behavior</q-item-label>
                  <q-item-label caption
                    >Force <i>some</i> mobile/desktop behavior.
                    <template v-if="options.interface == 'auto'">
                      Auto: detected {{ isMobile ? 'mobile' : 'desktop' }}.
                    </template>
                  </q-item-label>
                  <div class="q-gutter-sm" style="margin-left: -1.3em">
                    <q-radio
                      v-model="options.interface"
                      :color="RADIO_COLOR"
                      val="auto"
                      label="Auto"
                    />
                    <q-radio
                      v-model="options.interface"
                      :color="RADIO_COLOR"
                      val="desktop"
                      label="Desktop"
                    />
                    <q-radio
                      v-model="options.interface"
                      :color="RADIO_COLOR"
                      val="mobile"
                      label="Mobile"
                    />
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>

        <q-card-section>
          <div class="text-h6">Advanced</div>
          <br />
          <div style="max-width: 600px">
            <q-list style="min-width: 200px">
              <q-item
                clickable
                @click="options.ignoreErrors = !options.ignoreErrors"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.ignoreErrors"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Ignore non-fatal errors</q-item-label>
                  <q-item-label caption
                    >When downloading stored content, ask the server to ignore
                    errors if it can't find or open a file.</q-item-label
                  >
                </q-item-section>
              </q-item>
              <q-item
                clickable
                @click="
                  options.enableWildcardSearch = !options.enableWildcardSearch
                "
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.enableWildcardSearch"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Enable wildcard search</q-item-label>
                  <q-item-label caption
                    >Enables system-wide wildcard search in table views.
                    <br />
                    This basically allows you to search for partial strings,
                    i.e. 'orem' instead of 'lorem ipsum'.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="options.useIsoDates = !options.useIsoDates"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.useIsoDates"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Use UTC ISO8601 dates</q-item-label>
                  <q-item-label caption>
                    Don't use human-readable relative dates in table views.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                clickable
                @click="options.showVerboseIds = !options.showVerboseIds"
              >
                <q-item-section side>
                  <q-checkbox
                    dense
                    :color="CHECKBOX_COLOR"
                    class="row"
                    v-model="options.showVerboseIds"
                  />
                </q-item-section>
                <q-item-section>
                  <q-item-label>Verbose object IDs</q-item-label>
                  <q-item-label caption>
                    Display object IDs on table views (Ongoing downloads,
                    Previous downloads) whenever possible.
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                v-if="credStore.getUser?.hasPermission(Permission.ReadUser)"
              >
                <q-item-section side>
                  <q-icon name="view_week"></q-icon>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Users: edit column layout</q-item-label>
                  <q-item-label caption>
                    Click the button to begin.
                    <OrderableColumns
                      :model-value="options.columnPrefs.userManage"
                      :mobile-layout="isMobileSelected()"
                      @update:model-value="onUserColsUpdate"
                    />
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item
                v-if="
                  credStore.getUser?.hasPermission(
                    Permission.ReadDownloadSession
                  )
                "
              >
                <q-item-section side>
                  <q-icon name="view_week"></q-icon>
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    >Previous downloads: edit column layout</q-item-label
                  >

                  <q-item-label caption>
                    Click the button to begin.
                    <OrderableColumns
                      :model-value="options.columnPrefs.downloadHistory"
                      :mobile-layout="isMobileSelected()"
                      @update:model-value="onDownloadHistColsUpdate"
                    />
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable @click="onReset()">
                <q-item-section side>
                  <q-icon
                    class="padleft"
                    :color="WARNING_COLOR"
                    name="restart_alt"
                  ></q-icon>
                </q-item-section>
                <q-item-section>
                  <q-item-label> Reset defaults</q-item-label>

                  <q-item-label caption>
                    Click here to reset all settings to their default values.
                    <b> THIS ACTION CAN'T BE UNDONE! </b>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import {
  CHECKBOX_COLOR,
  MUTED_CHIP_COLOR,
  RADIO_COLOR,
  WARNING_COLOR,
} from 'src/core/consts';
import useOptionsStore, { ColumnPref } from 'src/stores/optionsStore';
import useCredsStore from 'src/stores/userCreds';
import QNotification from 'src/core/notifications';
import OrderableColumns from 'src/components/OrderableColumns.vue';
import { computed } from 'vue';
import { Permission } from 'src/core/user';

const q = useQuasar();
const credStore = useCredsStore();
const optionsStore = useOptionsStore();
const isMobile = q.platform.is.mobile == true;
let options = computed(() => optionsStore.getStore);
const OPTIONS_DESC = [
  {
    title: 'Normal albums',
    key: 'ALBUM',
  },
  {
    title: 'Compilations',
    key: 'COMPILATION',
  },
  {
    title: 'Singles',
    key: 'SINGLE',
  },
  {
    title: 'EPs',
    key: 'EP',
  },
  {
    title: 'Live albums',
    key: 'LIVE',
  },
];

const preferredInterfaceIcon = () => {
  if (options.value.interface === 'mobile') {
    return 'smartphone';
  } else if (options.value.interface === 'desktop') {
    return 'computer';
  }
  return 'dashboard';
};
const isMobileSelected = () => {
  if (options.value.interface === 'auto') {
    return isMobile;
  }
  return options.value.interface === 'mobile';
};

function onUserColsUpdate(columns: ColumnPref[]) {
  optionsStore.options.columnPrefs.userManage = columns;
}

function onDownloadHistColsUpdate(columns: ColumnPref[]) {
  optionsStore.options.columnPrefs.downloadHistory = columns;
}

function onReset() {
  let notif = new QNotification('Success', 'Preferences have been reset. ');
  notif.finishPositive();
  optionsStore.resetDefaults();
}
</script>

<style>
/**Add some padding left to q-icons */
.padleft {
  margin-left: -4px;
}
</style>
