<template>
  <q-page :class="optionsStore.fullBlack">
    <div class="q-pa-md q-gutter-sm">
      <q-card dark bordered class="q-pa-md">
        <slot></slot>
      </q-card>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import useOptionsStore from 'src/stores/optionsStore';
const optionsStore = useOptionsStore();
</script>
