<template>
  <q-btn
    outline
    dense
    :color="inConfirmState ? confirmColor : color"
    :disable="disable"
    :loading="loading"
    type="submit"
    no-wrap
    @click="onClick"
  >
    <template v-slot:default>
      <div v-if="inConfirmState">
        &nbsp;
        <q-circular-progress
          align="left"
          size="18px"
          reverse
          :max="CONFIRM_BUTTON_TIMEOUT_MSEC"
          :color="confirmColor"
          :value="timeoutSpinnerFilled"
          track-color="transparent"
        />
        &nbsp;{{ confirmLabel }} &nbsp;
        <q-tooltip
          class="bg-black"
          anchor="top middle"
          style="font-size: small"
          self="bottom middle"
          :offset="[10, 10]"
        >
          Click again to confirm this action
        </q-tooltip>
      </div>
      <div v-else>
        <q-icon v-if="icon != undefined" :name="icon"></q-icon>
        &nbsp;{{ label }} &nbsp;
      </div>
    </template>
  </q-btn>
</template>

<script setup lang="ts">
import {
  CONFIRM_BUTTON_TICKET_INTERVAL_MSEC,
  CONFIRM_BUTTON_TIMEOUT_MSEC,
} from 'src/core/consts';
import { ref } from 'vue';

const emit = defineEmits(['onConfirm']);
// eslint-disable-next-line @typescript-eslint/no-explicit-any
var tickerInterval: any = null;
var inConfirmState = ref(false);
const timeoutSpinnerFilled = ref(CONFIRM_BUTTON_TIMEOUT_MSEC);

function onClick() {
  if (!inConfirmState.value) {
    inConfirmState.value = true;
    tickerInterval = setInterval(() => {
      timeoutSpinnerFilled.value -= CONFIRM_BUTTON_TICKET_INTERVAL_MSEC;
      if (timeoutSpinnerFilled.value <= 0) {
        timeoutSpinnerFilled.value = CONFIRM_BUTTON_TIMEOUT_MSEC;
        clearInterval(tickerInterval);
        inConfirmState.value = false;
      }
    }, CONFIRM_BUTTON_TICKET_INTERVAL_MSEC);
  } else {
    if (tickerInterval) clearInterval(tickerInterval);
    inConfirmState.value = false;
    timeoutSpinnerFilled.value = CONFIRM_BUTTON_TIMEOUT_MSEC;
    emit('onConfirm');
  }
}

export interface ConfirmBtnProps {
  icon?: string;
  label?: string;
  color?: string;
  loading?: boolean;
  disable?: boolean;
  confirmColor?: string;
  confirmLabel?: string;
}
withDefaults(defineProps<ConfirmBtnProps>(), {
  label: 'Click to ???',
  color: 'white',
  confirmColor: 'red',
  confirmLabel: 'Confirm',
});
</script>
