<template>
  <span :class="{ highlight: isHighlighted }">
    {{ text }}
  </span>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
const isHighlighted = ref(true);

onMounted(() => {
  setTimeout(() => {
    isHighlighted.value = false;
  }, 1_000);
});

export interface HighlightedTextProps {
  text: string;
}

withDefaults(defineProps<HighlightedTextProps>(), {
  text: 'change me',
});
</script>

<style lang="scss" scoped>
$highlight-color: $yellow-3;
$transition-duration: 3s;

span {
  font-weight: bold;
  color: inherit; // Ensures the text color matches surrounding text
  transition: color $transition-duration ease,
    font-weight $transition-duration ease;

  &.highlight {
    font-weight: bold;
    color: $highlight-color;
  }
}
</style>
