<template>
  <CardView>
    <q-card-section>
      <div class="text-h6">New download</div>
    </q-card-section>

    <q-separator dark inset />

    <q-card-section>
      You can let niceerr automatically guess the type of the download (artist,
      album, track or playlist) by using the form below.
    </q-card-section>
    <q-form @submit="onSubmit()" class="q-gutter-md q-pa-sm">
      <q-input
        outlined
        v-model="link"
        label="Deezer artist/album/track/playlist link"
        lazy-rules
        debounce="100"
        :rules="[(val) => isValid(val) || 'Invalid deezer URL']"
        hint="https://www.deezer.com/artist/1234 or https://deezer.page.link/asdzxc"
      >
        <template v-slot:prepend>
          <q-icon name="link" />
        </template>
      </q-input>

      <q-btn-dropdown
        split
        outline
        :disable-dropdown="!credsStore.canChangeStreamSettings"
        :icon="options.includeCredited ? 'warning' : 'download'"
        :color="options.includeCredited ? 'orange-9' : 'white'"
        :loading="loading"
        :disable="disableSubmit()"
        :label="buttonText()"
        @click="onSubmit()"
      >
        <q-list>
          <!-- if stream is enabled, then this button will perform a server-side download.
              otherwise, it's going to be a live download -->
          <q-item
            clickable
            v-close-popup
            @click="onSubmit(!options.streamDefault)"
          >
            <q-item-section avatar>
              <q-icon
                :color="options.includeCredited ? 'orange-9' : 'white'"
                name="download"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ buttonText(true).toUpperCase() }} </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>

      <q-separator dark inset v-if="showChips" />
      <div
        class="fit row wrap justify-start items-start content-start"
        v-if="showChips"
      >
        <q-chip
          class="col-auto"
          square
          color="grey-10"
          text-color="white"
          icon="warning"
          v-if="
            !options.hideUnsupportedPlatformWarnings &&
            showUnsupportedPlatWarning
          "
          :clickable="needsClickable"
          @click="unsupportedTooltip.click()"
        >
          <PersistentTooltip
            ref="unsupportedTooltip"
            anchor="top middle"
            self="bottom middle"
            :offset="[10, 10]"
            text="Unsupported platform: you might need to use 7Zip
                or PeaZip to open zip files. You can hide this warning
                in settings."
          />
          3rd party app needed
        </q-chip>
        <q-chip
          class="col-auto"
          square
          :color="WARNING_COLOR"
          text-color="white"
          icon="warning"
          v-if="options.includeCredited"
          :clickable="needsClickable"
          @click="includeCreditedTooltip.click()"
        >
          <PersistentTooltip
            ref="includeCreditedTooltip"
            anchor="top middle"
            self="bottom middle"
            :offset="[10, 10]"
            text="Credited albums option is enabled. This can potentially
                use a lot of space. Go to user settings to disable this option."
          />
          Credited albums: ON
        </q-chip>
        <q-chip
          v-if="!options.streamDefault"
          class="col-auto"
          square
          color="grey-10"
          text-color="white"
          icon="download"
          :clickable="needsClickable"
          @click="downloadFolderTooltip.click()"
        >
          <PersistentTooltip
            ref="downloadFolderTooltip"
            anchor="top middle"
            self="bottom middle"
            :offset="[10, 10]"
            :text="`Your downloads will be downloaded to '${downloadFolder}' on
                the server.`"
          />
          {{ downloadFolder }}
        </q-chip>
        <q-chip
          class="col-auto"
          square
          color="grey-10"
          text-color="white"
          icon="network_check"
          v-if="user?.maxBandwidthBytesPerDay ?? 0 > 0"
          :clickable="needsClickable"
          @click="quotaTooltip.click()"
        >
          <PersistentTooltip
            ref="quotaTooltip"
            anchor="top middle"
            self="bottom middle"
            :offset="[10, 10]"
            text="The server will auto-stop your downloads once you've downloadeded this many bytes."
          />
          {{ bandwidthLimit() }}
        </q-chip>
        <q-chip
          class="col-auto"
          square
          color="grey-10"
          text-color="white"
          icon="auto_delete"
          v-if="user?.downloadSessionPersistMinutes ?? 0 > 0"
          :clickable="needsClickable"
          @click="persistMinutesTooltip.click()"
        >
          <PersistentTooltip
            ref="persistMinutesTooltip"
            anchor="top middle"
            self="bottom middle"
            :offset="[10, 10]"
            text="Your downloads will be automatically pruned after this period."
          />
          {{ downloadPersistMinutes() }}
        </q-chip>
      </div>
    </q-form>
  </CardView>
</template>

<script setup lang="ts">
import { AxiosError } from 'axios';
import { useQuasar } from 'quasar';
import { DownloadRequest, StreamDownloader } from 'src/core/download';
import {
  axiosErrorPrettyMessage,
  formatByteCount,
  shortenLongString,
} from 'src/core/util';
import useCredsStore from 'src/stores/userCreds';
import { formatMinuteCount } from 'src/core/util';
import { ref } from 'vue';
import useOptionsStore from 'src/stores/optionsStore';
import QNotification from 'src/core/notifications';
import PersistentTooltip from 'src/components/PersistentTooltip.vue';
import { WARNING_COLOR } from 'src/core/consts';
import CardView from 'src/components/CardView.vue';

const q = useQuasar();
// Tooltips
const unsupportedTooltip = ref();
const includeCreditedTooltip = ref();
const downloadFolderTooltip = ref();
const quotaTooltip = ref();
const persistMinutesTooltip = ref();
// Other stuff
const showUnsupportedPlatWarning = q.platform.is.win;
const credsStore = useCredsStore();
const optionsStore = useOptionsStore();
const options = optionsStore.getOrSetDefault();
const needsClickable =
  options.interface === 'mobile' || q.platform.is.mobile === true;
const user = credsStore.getUser;
const showChips =
  !options.streamDefault ||
  user?.maxBandwidthBytesPerDay ||
  user?.downloadSessionPersistMinutes ||
  options.includeCredited ||
  (!options.hideUnsupportedPlatformWarnings && showUnsupportedPlatWarning);

const downloadFolder = credsStore.getUser?.downloadPath ?? '[root folder]';
const bandwidthLimit = () => {
  if (credsStore.getUser?.maxBandwidthBytesPerDay ?? 0 > 0) {
    return `Quota: ${formatByteCount(
      credsStore.getUser?.maxBandwidthBytesPerDay ?? 0
    )}/day`;
  }
  return 'Quota: UNLIMITED';
};
const downloadPersistMinutes = () => {
  const minutes = credsStore.getUser?.downloadSessionPersistMinutes ?? 0;
  return minutes == 0 ? 'Never' : formatMinuteCount(minutes);
};

function buttonText(invert = false): string {
  const condition = invert ? !options.streamDefault : options.streamDefault;
  const downloadText = condition ? 'Local download' : 'Server-side download';
  return `${downloadText} (${options.streamFormat})`;
}

const link = ref('');
const loading = ref(false);

function disableSubmit() {
  const valid = isValid(link.value);
  return !valid;
}

const isValid = (s: string) =>
  (s && s.length > 0 && s.startsWith('https://www.deezer.com/')) ||
  s.startsWith('https://deezer.page.link/');

// Enqueues a new download
async function onSubmit(stream: boolean | undefined = undefined) {
  loading.value = true;
  const downloadRequest = DownloadRequest.fromLink(link.value);
  const useStream = stream ?? options.streamDefault;

  const notif = new QNotification(
    useStream ? 'Starting download...' : 'Verifying link...',
    useStream
      ? 'Server is downloading the first song. Please wait a moment.'
      : "This shouldn't take long...",
    'download'
  );
  notif.enableSpinner();

  try {
    if (!useStream) {
      const response = await downloadRequest.send();
      notif.updateMessage(
        `Enqueued "${shortenLongString(response.downloadSession.title)}"`,
        'You can leave this page or go to ongoing downloads to see the progress.'
      );
    } else {
      const downloader = new StreamDownloader(link.value, (bytes) => {
        const prettyBytes = formatByteCount(bytes);
        const msg = `Downloaded ${prettyBytes} so far`;
        notif.updateMessage(msg, 'Go to ongoing downloads for more details');
      });
      notif.addAction('cancel', 'white', () => {
        downloader.cancelDownload();
      });
      notif.enableSpinner();
      await downloader.start();
      notif.updateMessage(
        'Download completed',
        'Your download should start in a few moments...'
      );
    }
    notif.finishPositive();
  } catch (e) {
    const msg = await axiosErrorPrettyMessage(e as AxiosError);
    notif.updateMessage('Unable to enqueue/start download', msg);
    notif.finishNegative();
  }
  loading.value = false;
}
</script>
