<template>
  <CardView>
    <q-card-section>
      <div class="text-h6">Dashboard view</div>
    </q-card-section>

    <q-separator dark inset />

    <q-card-section>
      This page has been intentionally left blank. You can use the sidebar menu
      to browse other sections of this dashboard.
    </q-card-section>
  </CardView>
</template>

<script setup lang="ts">
import CardView from './CardView.vue';
</script>
