<template>
  <q-btn icon="edit" size="10px" dense outline @click="medium = true">
    Open editor &nbsp;
  </q-btn>

  <q-dialog v-model="medium" persistent>
    <q-card
      style="width: 600px; max-width: 90vh"
      :class="optionsStore.defaultBg"
    >
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Edit table view columns</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-card-section class="q-pt-none">
        Click a column to toggle its visibility.
        <template v-if="mobileLayout"> Use the arrows to reorder. </template>
        <template v-else>
          Use the arrows or drag and drop to reorder.
        </template>
        The <q-icon name="visibility_off" color="red" /> icon denotes hidden
        columns.
        <HighlightedText
          text="You might lose some functionality if you hide certain columns."
        />
        <div class="q-pa-md" style="max-width: 940px">
          <q-list bordered separator :class="optionsStore.defaultBg">
            <q-item
              v-for="(item, index) in items"
              :key="item.name"
              draggable="true"
              @dragstart="startDrag($event, index)"
              @dragover.prevent
              @dragenter.prevent
              @drop="onDrop($event, index)"
              clickable
              dense
              v-ripple
              @click="toggleEnabled(index)"
            >
              <!-- Drag indicator at the start -->
              <q-item-section side v-if="!mobileLayout">
                <q-icon name="drag_indicator" :color="RADIO_COLOR" />
              </q-item-section>

              <q-item-section>
                <q-item-label>
                  <q-icon
                    :name="item.enabled ? 'visibility' : 'visibility_off'"
                    :color="item.enabled ? 'white' : 'red'"
                  />
                  &nbsp; {{ item.desc }}
                </q-item-label>
              </q-item-section>

              <!-- Navigation buttons at the end -->
              <q-item-section side>
                <div class="row items-center">
                  <q-btn
                    flat
                    dense
                    round
                    icon="keyboard_arrow_up"
                    color="white"
                    @click.stop="moveItem(index, 'up')"
                    :disable="index === 0"
                  />
                  <q-btn
                    flat
                    dense
                    round
                    icon="keyboard_arrow_down"
                    color="white"
                    @click.stop="moveItem(index, 'down')"
                    :disable="index === items.length - 1"
                  />
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { QList, QItem, QItemSection, QItemLabel, QIcon, QBtn } from 'quasar';
import { RADIO_COLOR } from 'src/core/consts';
import useOptionsStore, { ColumnPref } from 'src/stores/optionsStore';
import HighlightedText from './HighlightedText.vue';

const optionsStore = useOptionsStore();
const medium = ref(false);

const props = defineProps<{
  modelValue: ColumnPref[];
  mobileLayout: boolean;
}>();

const emit = defineEmits<{
  (e: 'update:modelValue', value: ColumnPref[]): void;
  (e: 'listChanged', value: string[]): void;
}>();

// Directly use props.modelValue and keep it in sync with the store
const items = computed({
  get: () => props.modelValue,
  set: (newValue) => {
    emit('update:modelValue', newValue);
  },
});

// Computed property for enabled item names
const enabledItems = computed(() => {
  return items.value.filter((item) => item.enabled).map((item) => item.name);
});

// Watch for changes and emit events
watch(
  enabledItems,
  (newValue) => {
    emit('listChanged', newValue);
  },
  { immediate: true }
);

// Drag-and-drop handlers
const startDrag = (event: DragEvent, fromIndex: number) => {
  if (event.dataTransfer) {
    event.dataTransfer.dropEffect = 'move';
    event.dataTransfer.effectAllowed = 'move';
    event.dataTransfer.setData('fromIndex', fromIndex.toString());
  }
};

const onDrop = (event: DragEvent, toIndex: number) => {
  if (event.dataTransfer) {
    const fromIndex = parseInt(event.dataTransfer.getData('fromIndex'));
    const itemsCopy = [...items.value];
    const [movedItem] = itemsCopy.splice(fromIndex, 1);
    itemsCopy.splice(toIndex, 0, movedItem);
    items.value = itemsCopy; // Update via computed setter
  }
};

// Move items up or down
const moveItem = (index: number, direction: 'up' | 'down') => {
  const newIndex = direction === 'up' ? index - 1 : index + 1;

  if (newIndex < 0 || newIndex >= items.value.length) return;

  const itemsCopy = [...items.value];
  const [movedItem] = itemsCopy.splice(index, 1);
  itemsCopy.splice(newIndex, 0, movedItem);
  items.value = itemsCopy; // Update via computed setter
};

// Toggle enabled status
const toggleEnabled = (index: number) => {
  const itemsCopy = [...items.value];
  itemsCopy[index].enabled = !itemsCopy[index].enabled;
  items.value = itemsCopy; // Update via computed setter
};
</script>

<style scoped>
.q-item {
  cursor: move;
}
</style>
