<template>
  <q-tooltip
    v-if="!needsMobileMode"
    :class="`all-pointer-events q-pa-sm ${optionsStore.defaultBg}`"
    :anchor="anchor"
    style="font-size: small"
    :max-width="`${calcWidth(text)}px`"
    :self="self"
    :offset="offset"
    transition-show="fade"
    transition-hide="fade"
  >
    <template #default>
      {{ text }}
      <slot name="content"></slot>
    </template>
  </q-tooltip>

  <q-dialog v-else v-model="showing">
    <q-card :class="optionsStore.defaultBg">
      <q-card-section class="row items-center q-pb-none"> </q-card-section>

      <q-card-section class="q-pt-none">
        {{ text }}
        <slot name="content"></slot>
      </q-card-section>
      <q-card-actions align="center">
        <q-btn dense outline label="ok" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import useOptionsStore from 'src/stores/optionsStore';
import { computed, ref } from 'vue';

const showing = ref(false);
const optionsStore = useOptionsStore();
const options = optionsStore.getOrSetDefault();
const q = useQuasar();

// Whether to use mobile 'layout' (display a modal)
const needsMobileMode = computed(() => {
  return options.interface === 'auto'
    ? q.platform.is.mobile === true
    : options.interface === 'mobile';
});

const DEFAULT_WIDTH_PX = 300;

function calcWidth(text: string | undefined): number {
  const length = text?.length ?? 0;
  if (length < 100) {
    return 200;
  }
  return DEFAULT_WIDTH_PX;
}

function click() {
  // Don't unexpectedly show the modal if the user suddenly switches from
  // desktop to mobile and viceversa.
  if (needsMobileMode.value) {
    showing.value = true;
  }
}

defineExpose({ click });
withDefaults(defineProps<PersistentTooltipProps>(), {
  anchor: 'top middle',
  self: 'bottom middle',
});

export interface PersistentTooltipProps {
  text?: string;
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  offset?: readonly any[] | undefined;
  /**
   * All the props below come from q-tooltip ts definition
   */
  anchor?:
    | 'top left'
    | 'top middle'
    | 'top right'
    | 'top start'
    | 'top end'
    | 'center left'
    | 'center middle'
    | 'center right'
    | 'center start'
    | 'center end'
    | 'bottom left'
    | 'bottom middle'
    | 'bottom right'
    | 'bottom start'
    | 'bottom end'
    | undefined;
  self?:
    | 'top left'
    | 'top middle'
    | 'top right'
    | 'top start'
    | 'top end'
    | 'center left'
    | 'center middle'
    | 'center right'
    | 'center start'
    | 'center end'
    | 'bottom left'
    | 'bottom middle'
    | 'bottom right'
    | 'bottom start'
    | 'bottom end'
    | undefined;
}
</script>
