<template>
  <q-btn
    icon="list"
    label="See files &nbsp;"
    no-wrap
    dense
    outline
    @click="onShow"
  >
  </q-btn>
  <q-dialog v-model="medium" full-width full-height>
    <q-card :class="optionsStore.defaultBg">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Session files</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-table
          flat
          bordered
          dense
          ref="nestedTableRef"
          class="my-sticky-header-table"
          :card-class="optionsStore.defaultBg"
          :rows="refData"
          :columns="columns"
          row-key="id"
          v-model:pagination="pagination"
          :loading="loading"
          :rows-per-page-options="TABLE_ROWS_PER_PAGE_ARRAY"
          :filter="filter"
          binary-state-sort
          @request="onRequest"
        >
          <!-- Search filter -->
          <template v-slot:top-right>
            <q-input
              outlined
              dense
              debounce="300"
              v-model="filter"
              placeholder="Search"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
          <template v-slot:body-cell-downloadPath="props">
            <q-td>
              <div style="font-family: monospace">{{ props.value }}</div>
            </q-td>
          </template>
          <template v-slot:body-cell-downloadComplete="props">
            <q-td>
              <q-badge
                outline
                :color="props.value ? 'white' : 'red'"
                :text-color="props.value ? 'white' : 'red'"
              >
                <q-icon
                  :name="props.value ? 'check' : 'warning'"
                  class="q-ml-xs"
                />
                &nbsp;&nbsp;
                {{ props.value ? 'YES' : 'NO' }}
                &nbsp;&nbsp;
              </q-badge>
            </q-td>
          </template>
        </q-table>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { TABLE_DEFAULT_ROWS, TABLE_ROWS_PER_PAGE_ARRAY } from 'src/core/consts';
import { Pagination } from 'src/core/pagination';
import { SongEntry, fetchSongs } from 'src/core/song';
import { formatByteCount } from 'src/core/util';
import useOptionsStore from 'src/stores/optionsStore';
import { Ref, ref } from 'vue';

const optionsStore = useOptionsStore();
const nestedTableRef = ref();
const medium = ref(false);
const filter = ref('');

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const columns: Array<any> = [
  {
    name: 'downloadComplete',
    required: true,
    label: 'Download OK?',
    align: 'left',
    sortable: false,
    field: (row: SongEntry) =>
      !row.errorMessage &&
      row.downloadedBytes > 0 &&
      row.downloadedBytes == row.totalBytes,
  },
  {
    name: 'downloadPath',
    required: true,
    label: 'Server-side download path',
    align: 'left',
    sortable: true,
    field: (row: SongEntry) =>
      row.downloadPath ? row.downloadPath : '<not available>',
  },
  {
    name: 'downloadedBytes',
    required: true,
    label: 'Downloaded',
    align: 'left',
    sortable: true,
    field: (row: SongEntry) => formatByteCount(row.downloadedBytes),
  },
  {
    name: 'totalBytes',
    required: true,
    label: 'Total size',
    align: 'left',
    sortable: true,
    field: (row: SongEntry) => formatByteCount(row.totalBytes),
  },
  {
    name: 'errorMessage',
    required: true,
    label: 'Error message',
    align: 'left',
    sortable: true,
    field: (row: SongEntry) => row.errorMessage,
  },
  {
    name: 'id',
    required: true,
    label: 'ID',
    align: 'left',
    sortable: true,
    field: (row: SongEntry) => row.id,
    style: 'font-family: monospace',
  },
  {
    name: 'itemId',
    required: true,
    label: 'Upstream song ID',
    align: 'left',
    sortable: true,
    field: (row: SongEntry) => row.itemId,
    style: 'font-family: monospace',
  },
];

const pagination = ref({
  sortBy: 'downloadPath',
  descending: true,
  page: 0,
  rowsPerPage: TABLE_DEFAULT_ROWS,
  rowsNumber: TABLE_DEFAULT_ROWS,
});

const loading = ref(false);
const refData: Ref<SongEntry[]> = ref([]);

const defaults = withDefaults(defineProps<ShowFiles>(), {});
// eslint-disable-next-line @typescript-eslint/no-explicit-any
async function onRequest(props: any) {
  const { page, rowsPerPage, sortBy, descending } = props.pagination;
  let filter: string = props.filter;
  /**
   * This view only shows relevant files for this download session
   * so we have to ALWAYS send the session ID in the filter params.
   *
   * Note that there's already logic in the Pagination class that injects
   * a query parameter in the URL (`search`), but that only works for
   * single-parameter searches. To send multiple conditions (sessionID
   * and whatever the user wants to filter) to the server we need
   * to use multiple `search` query parameters.
   */

  filter =
    filter.length == 0
      ? `${defaults.sessionId}`
      : `${defaults.sessionId}&search=%25${filter}%25`;

  loading.value = true;
  const serverPaginationParams = new Pagination(
    // Server-side pagination starts from 0
    page - 1,
    rowsPerPage,
    filter,
    sortBy,
    descending
  );
  try {
    const response = await fetchSongs(serverPaginationParams);
    refData.value = response.data;

    pagination.value.page = page;
    pagination.value.rowsPerPage = rowsPerPage;
    pagination.value.sortBy = sortBy;
    pagination.value.descending = descending;
    pagination.value.rowsNumber = response.totalItems;

    loading.value = false;
  } catch (e) {
    console.error(`Fatal error: ${e}`);
    loading.value = false;
    return;
  }
}
export interface ShowFiles {
  sessionId?: string;
}

const onShow = async () => {
  medium.value = true;
  loading.value = true;
  pagination.value.page = 0;
  const paginationOpts = new Pagination(
    pagination.value.page,
    pagination.value.rowsPerPage,
    defaults.sessionId
  );
  const response = await fetchSongs(paginationOpts);
  refData.value = response.data;
  pagination.value.rowsNumber = response.totalItems;
  loading.value = false;
};
</script>
