<template>
  <q-td>
    <q-tooltip
      class="bg-black"
      anchor="bottom middle"
      style="font-size: small"
      self="bottom middle"
      :delay="1000"
      :offset="[0, 20]"
    >
      Click to open the deezer page for this
      {{ downloadKind.toLowerCase() }}
    </q-tooltip>
    <q-icon size="sm" :name="downloadKindIconMapper(downloadKind)"> </q-icon>
    &nbsp;
    <a
      :href="generateUpstreamLink(downloadKind, id)"
      style="color: inherit"
      target="blank"
    >
      {{ shortenLongString(title) }}
    </a>
  </q-td>
</template>

<script setup lang="ts">
import { shortenLongString } from 'src/core/util';

function generateUpstreamLink(kind: string, id: string): string {
  let base = 'https://www.deezer.com/';
  if (kind == 'Artist') base += 'artist';
  else if (kind == 'Playlist') base += 'playlist';
  else if (kind == 'Album') base += 'album';
  else if (kind == 'Song') base += 'track';
  return `${base}/${id}`;
}

function downloadKindIconMapper(kind: string): string {
  if (kind == 'Artist') return 'library_music';
  else if (kind == 'Playlist') return 'queue_music';
  else if (kind == 'Album') return 'album';
  else if (kind == 'Song') return 'music_note';
  return 'music_note';
}

export interface UpstreamItemProps {
  downloadKind: string;
  title: string;
  id: string;
}
withDefaults(defineProps<UpstreamItemProps>(), {});
</script>
