<template>
  <div>
    <q-badge :color="WARNING_COLOR" outline label="SU WARNING"> </q-badge>
    &nbsp; User can override this option.
  </div>
</template>

<script setup lang="ts">
import { WARNING_COLOR } from 'src/core/consts';
</script>
